.barbers-list {
  display: flex;

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  gap: 30px;
}

.barbers-list__card {
  flex-basis: calc((100% - 60px) / 3);
}

.barbers-list__name {
  margin-top: 30px;
  margin-bottom: 8px;

  color: $color-title-black;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.02em;

  text-align: center;
}

.barbers-list__text {
  margin-top: 0;
  margin-bottom: 30px;
  color: $accent-color;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.02em;

  text-align: center;
}
